* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: hsl(278, 68%, 11%);
    letter-spacing: 1.2px;
}

body{
    background-color: hsl(0, 0%, 100%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.bg-main-mobile{
    width: 100%;  
    z-index: 1;
    position: relative;
}

.bg-main-desktop{
    display: none;
}

.card-back{
    width: 290px;
    height: 160px;
    position: absolute;
    top: 35px;
    right: 15px;
    z-index: 2;
    background-image: url("images/bg-card-back.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.cvc-back-card {
    position: absolute;
    top: 72px;
    right: 35px;
    font-size: 9px;
    color: hsl(270, 3%, 87%);
}

.card-front{
    width: 290px;
    height: 160px;
    position: absolute;
    z-index: 10;
    top: 125px;
    left: 15px;
    background-image: url("images/bg-card-front.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.icono{
    position: absolute;
    top: 10px;
    left: 6px;
    z-index: 10;
    margin: 0 auto;
    transform: scale(.65);
}

.number-front-card{
    position: absolute;
    text-align: center;
    bottom: 50px;
    font-size: 20px;
    color: hsl(270, 3%, 87%);
    width: 100%;
}

.name-front-card{
    position: absolute;
    color: hsl(270, 3%, 87%);
    bottom: 25px;
    left: 24px;
    font-size: 9px;
}

.exp-date-front-card{
    position: absolute;
    color: hsl(270, 3%, 87%);
    bottom: 25px;
    right: 24px;
    font-size: 9px;
}


.campo{
    margin: 60px 6% 5% 6%;
    
}

.block{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.block input{
    border: solid 1px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    border-color: hsl(270, 3%, 87%);

}

.errors{
    color: red;
}

.date-cvc{
    display: flex;
}

.exp-date{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.mm-yy{
    display: flex;
    flex-direction: row;
    
}

.mm-yy input{
    width: 50%;
    margin-right: 10px;
}

.cvc {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.cvc input{
    width: 100%;
}



.button{
    margin-top: 15px;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: hsl(270, 3%, 87%);
    background-color: hsl(278, 68%, 11%);
}

@media(min-width : 768px){
    .bg-main-mobile{
        height: 350px;
    }

    .card-front{
        left: 123px;
        top: 140px;
    }

    .card-back{
        right: 123px;
        top: 50px;
    }

    .campo{
        margin-top: 5%;
    }
}

@media(min-width : 1024px){
    main {
        display: flex;
        justify-content: space-between
    }
    .bg-main-mobile{
        display: none;
    }
    .bg-main-desktop{
        display: block;
    }

    .card-front{
        top: 200px;
        left: 165px;
        transform: scale(1.2);
    }

    .card-back{
        left: 230px;
        top: 420px;
        transform: scale(1.2);
    }

    .bg-main-desktop{
        width: 100%;
    }

    .campo{
        flex-grow: 1;
        margin: auto;
        margin-left: 90px;
    }

    .block{
        width: 400px;
    }

}

@media(min-width : 1440px){
    .card-front{
        top: 240px;
        left: 250px;
        transform: scale(1.5);
    }

    .card-back{
        left: 320px;
        top: 520px;
        transform: scale(1.5);
    }

    .campo{
        margin: auto;
        margin-left: 350px;
    }

    .block{
        justify-content: center;
        width: 400px;
    }
}